{
    ApplicationDescription = "Control your volume settings";
    ApplicationRelease = "0.7";
    Authors = ("G\u00fcrkan Myczko <alex@aiei.ch>, Yavor Doganov <yavor@gnu.org>");
    Copyright = "Copyright 2004-2018 G\u00fcrkan Myczko, Yavor Doganov";
    CopyrightDescription = "GNU General Public License";
    URL = "https://github.com/alexmyczko/VolumeControl.app/";
}
